<!doctype html>
<html ng-app="todoApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="/js/controllers.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <input type="checkbox" ng-model="todo.done">
          <span>{{todo.name}}</span>
          <span>{{todo.target}} {{$index}}</span>
          <ul>
            <li ng-repeat="variant in todo.variants track by $index">{{variant}}</li>
          </ul>
          <form ng-submit="todoList.addVariant($index)">
              <input type="text" ng-model="todoList.newVariant[$index]" size="10"
               placeholder="add new variant">
              <input class="btn-primary" type="submit" value="add">
          </form>    
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">        
        <input type="text" ng-model="todoList.name"  size="15"
               placeholder="add new todo here">
        <input type="text" ng-model="todoList.target"  size="15"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </body>
</html>