<!doctype html>
<html ng-app="resourceApp">
  <head>
    <meta charset="utf-8">
    <script src="public/jquery/dist/jquery.min.js"></script>
    <script src="public/angular/angular.min.js"></script>
    <script src="public/angular-resource/angular-resource.min.js"></script>
    <script src="public/angular-local-storage/angular-local-storage.js"></script>
    <script src="public/bootstrap/dist/js/bootstrap.js"></script>
    <script src="public/js/controllers.js"></script>
    <link href="public/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div ng-controller="resourceListController as resourceList">
        <h2>Voicer peernames.json online constructor
          <small>{{resourceList.resources.length}} resources</small>
        </h2>
        <a href='' ng-click="resourceList.save()" class="btn btn-primary btn-right">save</a> 
        <a href='' ng-click="resourceList.download()" class="btn btn-default">download</a> 
        <a href='' ng-click="resourceList.clear()" class="btn btn-default">clear</a> 
        <br>
        <p>Заполните варианты. При сохранении данные сохраняются в локальном хранилище Вашего браузера. 
          При загрузке вы получите готовый peernames.json для проекта <a href="https://github.com/antirek/voicer">voicer</a></p>
        <br>
        <table class="unstyled table table-condensed">
          <tr>
            <th>name</th>
            <th>target</th>
            <th></th>
            <th>variants</th>
            <th></th>
            <th></th>
          </tr>
          <tr ng-repeat="resource in resourceList.resources"> 
            <td><b>{{resource.name}}</b></td>
            <td>{{resource.target}}</td>
            <td>
              <a href='' ng-model="collapsed" ng-click="collapsed=!collapsed">variants: {{resource.variants.length}}</a>
            </td>
            <td>
              <div ng-show="collapsed">
                <table>
                  <tr ng-repeat="variant in resource.variants track by $index">
                    <td>{{variant}}</td>
                    <td>
                      <a href="" ng-click="resourceList.deleteVariant($parent.$index,$index)" class="btn btn-warning btn-xs">del</a>
                    </td>
                  </tr>
                </table>                
              </div>
          </td>
          <td>     
            <form ng-submit="resourceList.addVariant($index)">
              <input type="text" ng-model="resourceList.newVariant[$index]" size="10"
               placeholder="variant">
              <input class="btn btn-primary btn-sm" type="submit" value="add">
            </form>
          </td>
          <td>
              <a href="" ng-click="resourceList.deleteResource($index)" class="btn btn-warning btn-sm">del</a>
          </td>
        </table>

        <form ng-submit="resourceList.addResource()">
          <input type="text" ng-model="resourceList.name" size="15"
                 placeholder="name">
          <input type="text" ng-model="resourceList.target" size="15"
                 placeholder="target">
          <input class="btn btn-primary" type="submit" value="add">
        </form>
      </div>
    </div>
  </body>
</html>